body{
    background-color: aquamarine;
}

/*Voor mezelf of diegene die dit nakijkt, ik heb de background code van https://www.w3schools.com/cssref/pr_background-repeat.asp.
En nou heb ik het vervolgens weer gecopy-paste van mijn eigen werk op Zuidoost :P*/
body {
    background-color: tomato;
    background-image: url("achtergrond.bmp");
    background-repeat: repeat;
}

div h1{
    width: 200px;
}


.poster{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
}

.posterimg{
    width: 200px;
    height: 300px;
}

#poster1{
    background-color: blue;
}

#poster2{
    background-color: blue;
}

#poster3{
    background-color: blue;
}

// vvv